env:
  global:
    - CC_TEST_REPORTER_ID=3b7234eb25f0c12cf7d56a22d135fd5fb9f151c8af0fade95cb7661f7a9fbf9f
    
language: node_js

node_js:
 - '8'
 
before_script:
  # - yarn global add nyc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

after_success:
- npm run coverage

notifications:
  email: false